<header><h1>Teste OI</h1></header>
<main>
  <p-table [value]="viabilidade" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Logradouro</th>
              <th>Numero</th>
              <th>Bairro</th>
              <th>Cidade</th>
              <th>UF</th>
              <th>Produto</th>
              <th>Velocidade</th>
              <th>Nome Parceiro</th>
              <th>Endereço Parceiro</th>
              <th>CNPJ Parceiro</th>
              <th>Resultado Parceiro</th>
              <th>UF Cobertura</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-viabilidade>
          <tr>
              <td>{{ viabilidade.logradouro }}</td>
              <td>{{ viabilidade.numero }}</td>
              <td>{{ viabilidade.bairro }}</td>
              <td>{{ viabilidade.cidade }}</td>
              <td>{{ viabilidade.uf }}</td>
              <td>{{ viabilidade.produto }}</td>
              <td>{{ viabilidade.velocidade }}</td>
              <td>{{ viabilidade.nome_parceiro }}</td>
              <td>{{ viabilidade.endereco_parceiro }}</td>
              <td>{{ viabilidade.cnpj_parceiro }}</td>
              <td>{{ viabilidade.resultado_parceiro }}</td>
              <td>{{ viabilidade.uf_cobertura }}</td>
          </tr>
      </ng-template>
  </p-table></main>
<footer></footer>
